<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="topbar">
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a href="javascript:void(0)" class="logo"><img src="/assets/images/logo.png" alt="logo-img"></a>
                <a href="javascript:void(0)" class="logo-sm"><img src="/assets/images/logo_sm.png" alt="logo-img"></a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->


        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
<!--                    <li class="hide-phone app-search float-left">-->
<!--                        <form role="search" class="navbar-form">-->
<!--                            <input type="text" placeholder="Search..." class="form-control search-bar">-->
<!--                            <a href="" class="btn-search"><i class="fa fa-search"></i></a>-->
<!--                        </form>-->
<!--                    </li>-->
                </ul>

                <ul class="nav navbar-right float-right list-inline">
                    <li class="d-none d-sm-block">
                        <a href="#" id="btn-fullscreen" class="waves-effect waves-light notification-icon-box"><i class="mdi mdi-fullscreen"></i></a>
                    </li>

                    <li class="dropdown">
                        <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                            <img src="/assets/images/users/avatar-1.jpg" alt="user-img" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
<!--                            <li><a href="javascript:void(0)" class="dropdown-item"> Profile</a></li>-->
<!--                            <li><a href="javascript:void(0)" class="dropdown-item"><span class="badge badge-success float-right">5</span> Settings </a></li>-->
<!--                            <li><a href="javascript:void(0)" class="dropdown-item"> Lock screen</a></li>-->
<!--                            <li class="dropdown-divider"></li>-->
                            <li><a href="/logout" class="dropdown-item">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</th:block>